
.Header h1{
  font-size: 4vw;
  text-align: center;
  color: var(--deep-blue); 
  margin-bottom: 2px;
}

.SubHeader {
  font-size: 1.5vw;
  text-align: center;
  color: var(--deeper-gray-color);
  margin: 0;
  
}

.SubSubHeader{
  font-size: 2vw;
  text-align: center;
  color: var(--deeper-gray-color);
  font-weight: bold;
}

.Center{
  text-align: center;
  display: flex;
  justify-content: center;
}
.gray {
  color: var(--gray-color);
}

.yellow {
  color: var(--yellow-color);
}

.SubmitButton {
  padding: 10px 15px;
  background-color: var(--deep-red);
  color: var(--platinum);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}
.Input{
  color: var(--deeper-gray-color);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  padding: 10px 15px;
  margin: 10px;
}
.input-button-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.button-container {
  width: 120px;
  height: 40px; 
  margin: 0;
 
}

.experiment-explanation {
  font-size: 18px;
  line-height: 1.6; 
  color: #333; 
  margin: 10px 0; 
  padding: 0 10px; 
  display: flex;
  justify-content: center;
  text-align: center;

}

.image-container{
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.image-container img {
  max-width: 60%;
  height: auto;
}