
  :root {
    --gray-color: #C5C5C5;
    --yellow-color: #f5c211;
    --deeper-gray-color: #5e5d5d;

    --deep-blue: #4B7D95;
    --deep-red:#D2694B;
    --platinum: #DCE0E5;
    --pale-purple: #DBD3D8;
    --pale-peach: #E1C6B7;
    --heart-red: #BF211E; 
    --pale-cyan: #DDF8F8;

  }

  .Header {
    font-size: 3vw;
    text-align: center;
    color: var(--deep-blue); 
  }
  
  .SubHeader {
    font-size: 2vw;
    text-align: center;
    color: var(--deeper-gray-color);
    padding: 20px 20px;
  }
  .SubSubHeader{
    font-size: 2vw;
    text-align: center;
    color: var(--deeper-gray-color);
    font-weight: bold;
    padding: 20px 20px;
  }

  .Center{
    text-align: center;
  }
  .gray {
    color: var(--gray-color);
  }
  
  .yellow {
    color: var(--yellow-color);
  }
  
  .SubmitButton {
    padding: 10px 15px;
    background-color: var(--deep-red);
    color: var(--platinum);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  .Input{
    padding: 10px 15px;
    color: var(--deeper-gray-color);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }

  .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  body {
    background-color: var(--pale-cyan);
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  