:root {
  --gray-color: #C5C5C5;
  --yellow-color: #f5c211;
  --deeper-gray-color: #5e5d5d;

  --deep-blue: #4B7D95;
  --deep-red:#D2694B;
  --platinum: #DCE0E5;
  --pale-purple: #DBD3D8;
  --pale-peach: #E1C6B7;
  --heart-red: #BF211E; 
  --pale-cyan: #DDF8F8;
}

body {
  background-color: var(--pale-cyan);
}

.loader {
  width: 30px;
  height: 30px;
  border: 5px solid var(--gray-color);
  border-bottom-color: var(--deep-red);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

@keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}